@import "tailwindcss";

@theme inline {
  --color-background: var(--color-zinc-950);
  --color-foreground: var(--foreground);
  --color-foreground-hover: var(--foreground-hover);
  --color-primary: var(--primary);
  --color-faded-fg: var(--color-zinc-400);
}

:root {
  /* --primary: oklch(0.83 0.17 145); */
  --primary: oklch(50% 0.31299 329.232);
  --foreground: #ffff;
  --foreground-hover: oklch(90% 0.31299 329.232);
}

@layer base {

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-size: var(--text-base);
  }

  html {
    @apply font-sans;
  }
}