@import "tailwindcss";

@theme inline {
  --color-background: var(--color-zinc-900);
  --color-foreground: var(--color-zinc-100);
}

@layer base {

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  html {
    @apply font-sans;
  }
}